openpilot/selfdrive/assets/fonts/TESLA.ttf -filter=lfs -diff=lfs -merge=lfs -text
openpilot/selfdrive/assets/icons_mici/tesla_t.png -filter=lfs -diff=lfs -merge=lfs -text
openpilot/selfdrive/assets/icons_mici/settings/theme.png -filter=lfs -diff=lfs -merge=lfs -text
openpilot/selfdrive/assets/icons_mici/usb.png -filter=lfs -diff=lfs -merge=lfs -text
openpilot/selfdrive/assets/icons_mici/chestnut_orange.png -filter=lfs -diff=lfs -merge=lfs -text
